.input-field {
    width: 49%;
}

.audio-preview {
    width: 470px;
    height: 122px;
    object-fit: cover;
    margin-right: 20px;
}

.cancel-button {
    background-color: #D8D9DA;
    color: black;
    border: none;
    padding: 10px 20px;
    width: 49%;
}

.submit-button {
    background-color: #38C1F0;
    color: #ffff;
    border: none;
    padding: 10px 20px;
    width: 49%;
}

.icon-image {
    width: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.on-icon-image {
    width: 45px;
    cursor: pointer;
    margin-right: 10px;
}

.remove-audio-file {
    position: absolute;
    top: 0px;
    left: 0px;
    color: white;
    width: 21px;
    height: 19px;
    background-color: #ec4747;
    font-size: 18px;
    cursor: pointer;
    border-radius: 50%;
    padding: 4px 7px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.remove-audio-file:hover {
    background-color: #d43a3a;
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}

.remove-update-audio {
    position: absolute;
    width: 21px;
    height: 21px;
    right: 10px;
    color: white;
    background-color: red;
    font-size: 18px;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.remove-update-audio:hover {
    background-color: darkred;
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}