.download-img {
    width: 15px;
}

#dropdown-item-button {
    background-color: #fff;
    color: black;
    border: 1px solid #EFEFEF;
    padding-right: 24px;
    padding-left: 24px;

}

.search {
    background-color: #F5F8F9;
}

#dropdown-pdf-button {
    background-color: white;
    color: #1FBA41;
    border-color: #1FBA41;
}

#dropdown-create-button {
    background-color: #38C1F0;
    border: none;
    padding-right: 24px;
    padding-left: 24px;
}

.head-left {
    width: 30%;
}

.head-right {
    width: 70%;
}

.ag-theme-alpine {
    width: 100%;
}